<div class="max-w-7xl mx-auto px-4 py-8">
  <div
    class="
      flex justify-between items-center mb-6 pb-4 border-b border-base-300
    "
  >
    <div>
      <h1 class="text-3xl font-bold">Your Tasks</h1>
      <p class="text-base-content/70 mt-1">Here is a list of all your tasks.</p>
    </div>
    <%= link_to "New Task", new_task_path, class: "btn btn-primary" %>
  </div>

  <% if @tasks.any? %>
    <div id="tasks" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <%= render @tasks %>
      <% @games["results"].each do |game| %>
        <div class="card w-96 bg-base-100 shadow-xl image-full h-64">
          <figure><img
              src="<%= game["background_image"] %>"
              alt="<%= game["name"] %>"
              class="scale-[1.2]"
            /></figure>
          <div class="card-body justify-between">
            <h2 class="card-title"><%= game["name"] %></h2>
            <div class="card-actions justify-end">
              <%= link_to "Details", game_path(game["id"]), class: "btn btn-neutral" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="text-center py-16">
      <h2 class="text-xl font-semibold">No tasks yet!</h2>
      <p class="text-base-content/70 mt-2">
        Get started by creating a new task.
      </p>
      <div class="mt-6">
        <%= link_to "Create Your First Task", new_task_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
