<div class="hero min-h-screen bg-base-200">
  <div class="hero-content w-full max-w-sm">
    <div class="card shrink-0 w-full shadow-2xl bg-base-100">
      <div class="card-body">
        <h2 class="card-title">Change your password</h2>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.hidden_field :reset_password_token %>

          <div class="form-control">
            <%= f.label :password, "New password", class: "label" do %>
              <span class="label-text">New password</span>
              <% if @minimum_password_length %>
                <span class="label-text-alt">(<%= @minimum_password_length %> characters minimum)</span>
              <% end %>
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "input input-bordered", placeholder: "new password" %>
          </div>

          <div class="form-control">
            <%= f.label :password_confirmation, "Confirm new password", class: "label" do %>
              <span class="label-text">Confirm new password</span>
            <% end %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input input-bordered", placeholder: "confirm new password" %>
          </div>

          <div class="form-control mt-6">
            <%= f.submit "Change my password", class: "btn btn-primary" %>
          </div>
        <% end %>
        <div class="divider"></div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
