<!DOCTYPE html>
<html>
  <head>
    <title>Garu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="flex flex-col h-screen bg-purple-50">
    <%= render 'layouts/header' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <main class="flex flex-1 flex-col gap-4 p-4 md:gap-8 md:p-6">
      <%= yield %>
    </main>
  </body>
</html>
